<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" href="/img/favicon.png" type="image/png" />
  <title>Balaji Stationers</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/vendors/linericon/style.css" />
  <link rel="stylesheet" href="/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css" />
  <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css" />
  <link rel="stylesheet" href="/vendors/animate-css/animate.css" />
  <link rel="stylesheet" href="/vendors/jquery-ui/jquery-ui.css" />
  <!-- main css -->
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/responsive.css" />
  <meta name="description" content="Balaji Stationers in one of the most well established office supply companies in Delhi. We offer our services to various multinational
  companies..."/>
  <meta name="robots" content="index">
  <meta name="googlebot" content="index" />

  <meta name="google-site-verification" content="h7ojIW65mvm0kjs-_bW1x3l60mFo9cq5v0XPNTOyCfg" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-197099857-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-197099857-1');
</script>
</head>

<body>
  <!--================Header Menu Area =================-->
  <header class="header_area">
    <div class="top_menu d-lg-block d-none">
      <div class="container">
        <div class="float-left">
          <ul class="left_side">
           One Step Office Stationers
          </ul>
        </div>
        <div class="float-right">
          <ul class="right_side">
            <li>
              <a href="#">
                <i class="lnr lnr-phone-handset"></i>
                011-23722977, 23723326
              </a>
            </li>
            <li>
              <a href="#">
                <i class="lnr lnr-envelope"></i>
                parveen_balaji@hotmail.com 
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg w-100">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h logo" href="/index">
            <img src="img/logo1.png" alt="" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <div class="row w-100">
              <div class="col-lg-12 pr-lg-0">
                <ul class="nav navbar-nav ml-auto justify-content-end">
                  <li class="nav-item active">
                    <a class="nav-link" href="/index">H o m e </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">A b o u t</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/services">P r o d u c t s</a>
                  </li>
                 
                 
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">C o n tact</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!--================Header Menu Area =================-->

  <!--================ Home Banner Area =================-->
  <section class="home_banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="banner_content d-flex flex-md-row flex-column">
              <div class="banner-left text-md-right">
                <h1 class="text-uppercase">Best Budget Products</h1>
              </div>
              <div class="banner-right position-relative">
                <p>
                  We aim to provide the best products for your office at most affordable and competitive rates as offered in the idustry.  
                </p>
                <a class="main_btn mt-md-0 mt-4" href="/services">Explore More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End Home Banner Area =================-->
  
  <!--================ Feature Area =================-->
  <section class="feature-area section_gap_top">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-7">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="single-feature">
                <img src="img/feature/f1.png" alt="">
                <h4>Doorstep Delivery</h4>
                <p>
                  Get your products at your doorstep for free. 
                </p>
                <a href="#">within 10km</a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="single-feature">
                <img src="img/feature/f2.png" alt="">
                <h4>Have a Question?</h4>
                <p>
                  Call us or Drop us a Mail we reply within 24hrs.
                  </p>
                <a href="/contact">Contact Us</a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="single-feature">
                <img src="img/feature/f3.png" alt="">
                <h4>Get a Quote</h4>
                <p>
                  Get our products quotation at best price.
                </p>
                <a href="/services">Quotation</a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="single-feature">
                <img src="img/feature/f4.png" alt="">
                <h4>Affordable Products</h4>
                <p>
                Wide range of products at affordable price.
                <a href="/services">Our Products</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-5 offset-md-0 col-md-12 text-left section-title-wrap">
          <h5>About Our Company</h5>
          <h2>
            We care<br>
            about our <br>
            customers.
          </h2>

          <h4>Here we believe that a company is all about its customers.</h4>
          <p>
            we alwayas aim to provide our customers the best products at the most affordable price. 
            The hallmarks of our services are effective and efficient at the most affordable and competitive rates as offered in the industry.
            
          </p>
          <!-- <a href="#" class="main_btn">Learn More About Us</a> -->
        </div>
      </div>
    </div>
  </section>
  <!--================ End Feature Area =================-->

  <!--================ About Area =================-->
  <section class="about-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="row justify-content-center text-left section-title-wrap">
            <div class="col-lg-12">
              <h5>About Our Company</h5>
              <h2>
                Some statistics that we want <br>
                to show our viewers
              </h2>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-lg-10">
              <div class="row">
                <div class="col-lg-4 col-md-6 single_brand">
                  <img src="img/about/brand1.png" alt="">
                </div>
                <div class="col-lg-4 col-md-6 single_brand">
                  <img src="img/about/brand2.png" alt="">
                </div>
                <div class="col-lg-4 col-md-6 single_brand">
                  <img src="img/about/brand3.png" alt="">
                </div>
                <div class="col-lg-4 col-md-6 single_brand">
                  <img src="img/about/brand4.png" alt="">
                </div>
                <div class="col-lg-4 col-md-6 single_brand">
                  <img src="img/about/brand5.png" alt="">
                </div>
                <div class="col-lg-4 col-md-6 single_brand">
                  <img src="img/about/brand6.png" alt="">
                </div>
              </div>
            </div>
          </div> -->
        </div>

        <div class="offset-lg-1 col-lg-4">
          <div class="about_box">
            <div class="activity">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="activity_box">
                    <div>
                      <img src="img/about/i1.png" alt="">
                    </div>
                    <h3><span class="counter">4000</span>+</h3>
                    <p>Products</p>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6">
                  <div class="activity_box">
                    <div>
                      <img src="img/about/i2.png" alt="">
                    </div>
                    <h3><span class="counter">100</span>+</h3>
                    <p>Satisfied Customers</p>
                  </div>
                  <!-- </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="activity_box">
                      <div>
                        <img src="img/about/i3.png" alt="">
                      </div>
                      <h3>$<span class="counter">70</span>+</h3>
                      <p>Contries reach</p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="activity_box">
                      <div>
                        <img src="img/about/i4.png" alt="">
                      </div>
                      <h3 class="counter">5000</h3>
                      <p>Tons of goods</p>
                    </div>
                  </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End About Area =================-->

  <!--================ Start Service Area =================-->
  <section class="service-area section_gap_top">
    <div class="container">
      <div class="row justify-content-center section-title-wrap">
        <div class="col-lg-12">
          <h5>Our Offered Services</h5>
          <h2 class="text-white">
            We offer Various Products <br />
            to get you covered
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="single-service col-lg-4 col-md-6">
          <div class="thumb">
            <img class="f-img img-fluid mx-auto" src="img/service/officestr.jpg" alt="" />
          </div>
          <div class="service-box"> <br>
            <h3>
              Office Stationery
            </h3>
            <p>
              Over 1000+ branded Office stationery products to get you covered. <br> 

            <a href="/services">Learn More</a>
          </div>
        </div>

        <div class="single-service col-lg-4 col-md-6">
          <div class="thumb">
            <img class="f-img img-fluid mx-auto" src="img/service/computerstr1.jpg" alt="" />
          </div>
          <div class="service-box">
            <h3>
              Computer Stationery
            </h3>
            <p>
              Branded Computer hardware and printer cartridges. <br>
              <a href="/services">Learn More</a>
          </div>
        </div>

        <div class="single-service col-lg-4 col-md-6">
          <div class="thumb">
            <img class="f-img img-fluid mx-auto" src="img/service/pantry.jpg" alt="" />
          </div>
          <div class="service-box">
            <h3>
             Pantry and Cleaning 
            </h3>
            <p>
             Hygiene and Office bites ?  </br>
             We got you covered with all. <br>

             <a href="/services">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ end Service Area =================-->



  <!--================ Start Quote Area =================-->
  <section class="quote-area">
    <div class="container">
      <div class="row justify-content-center text-left section-title-wrap">
        <div class="col-lg-12">
          <h5 id="quote">Get a quote now!</h5>
          <h2 class="text-white">
            Check the estimated cost for <br>
            your required goods
          </h2>
        </div>
      </div>
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-12">
          <div class="estimated-cost">
            <form class="form-wrap" method="post" action="/data">
              <nav>
                <div class="nav nav-tabs justify-content-md-start justify-content-center" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-getEstimation-tab" data-toggle="tab" href="#nav-getEstimation"
                    role="tab" aria-controls="nav-getEstimation" aria-selected="true">Quotation</a>
                 
                </div>
              </nav>


              <!-- Tab Content -->
              
            <form action="/data" method="post">
              <div class="tab-content" >
                <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="nav-getEstimation-tab">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label  for="firstName">First name</label>
                        <input type="text" class="form-control" name="fname"  placeholder="Enter first name">
                      </div>
                    </div>

                    <div class="col-lg-4">
                      <div class="form-group">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" name="lname" placeholder="Enter last name"/>
                      </div>
                    </div>

                    <div class="col-lg-4">
                      <div class="form-group">
                        <label for="emailAddress">Email Address</label>
                        <input type="email" class="form-control" name="email" placeholder="Enter email address"/>
                      </div>
                    </div>

                    <div class="col-lg-4">
                      <div class="form-group">
                        <label for="cargoType">Company Name</label>
                        <input type="text" class="form-control" name="cname" placeholder="Company name"/>
                      </div>
                    </div>

                    <div class="col-lg-4">
                      <div class="form-group">
                        <label for="countryOfOrigin">Company Location</label>
                        <input type="text" class="form-control" name="cloc" placeholder="Enter Location"/>
                      </div>
                    </div> 

                    <div class="col-lg-4">
                      <div class="form-group">
                        <label for="destination">Phone No.</label>
                        <input type="text" class="form-control" name="phone"  placeholder="Phone No."/>
                      </div>
                    </div> 

                    <div class="col-lg-3">
                      <div class="form-group">
                        <label for="quantity">Designation</label>
                        <input type="text" class="form-control" name="desig"  placeholder="Designation"/>
                      </div>
                    </div>

                   
                    <div class="col-lg-12 mt-4">
                      <div class="text-center confirm_btn_box">
                        <!-- <button type="submit">button</button> -->
                        <button type="submit" class="main_btn text-uppercase">Request a Quote</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
                         
                
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End Quote Area =================-->
  <section class="cta_area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="cta_inner d-flex flex-md-row flex-column justify-content-between align-items-center">
            <div class="mb-md-0 mb-4 text-sm-left text-center">
              <p>For already registered companies</p>
              <h2>Send your requirements, just few clicks away</h2>
            </div>
            <div class="">
              <a href="/products.ejs" class="main_btn">Order Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--================ Start Testimonial Area =================-->
  <!-- <section class="testimonial-area section_gap_top">
    <div class="container">
      <div class="row justify-content-center section-title-wrap">
        <div class="col-lg-12">
          <h5>User Feedback</h5>
          <h2>
            What our customers feedback <br>
            for amazing service.
          </h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="owl-carousel active_testimonial"> -->
            <!-- single testi -->
            <!-- <div class="single_testi">
              <div class="testi_content">
                <p>
                  “Us multiply given in all hath given may meat god won't abundantly appear lights fourth madman man
                  said god dominion great. Gathering called very. Midst shall after created from fruitful. Place sea
                  upon air. Female beast midst fly morning after light creepeth”
                </p>
              </div>
              <div class="testi_author d-flex justify-content-center align-items-center">
                <div class="thumb mr-4"><img src="img/testi-author.png" alt=""></div>
                <div class="a-desc text-left">
                  <h6>Marvel Maison</h6>
                  <p>Chief Executive, Amazon</p>
                </div>
              </div>
            </div> -->
            <!-- single testi -->
            <!-- <div class="single_testi">
              <div class="testi_content">
                <p>
                  “Us multiply given in all hath given may meat god won't abundantly appear lights fourth madman man
                  said god dominion great. Gathering called very. Midst shall after created from fruitful. Place sea
                  upon air. Female beast midst fly morning after light creepeth”
                </p>
              </div>
              <div class="testi_author d-flex justify-content-center align-items-center">
                <div class="thumb mr-4"><img src="img/testi-author.png" alt=""></div>
                <div class="a-desc text-left">
                  <h6>Marvel Maison</h6>
                  <p>Chief Executive, Amazon</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!--================ end Testimonial Area =================-->

  <!--================ Start Home Blog Area =================-->
  <!-- <section class="home-blog-area">
    <div class="container">
      <div class="row justify-content-center section-title-wrap">
        <div class="col-lg-12">
          <h5>Latest Blog Posts</h5>
          <h2>
            Check the latest posts <br />
            from our blog
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single-home-blog">
            <div class="thumb">
              <img class="f-img img-fluid mx-auto" src="img/home-post/blog1.jpg" alt="" />
            </div>
            <div class="home-blog-box">
              <a href="#">
                <h4>Some statistics that we want to show</h4>
              </a>
              <p>
                If you are looking at blank cassettes
                on the web lorem ipsum dolor sit amet consectetur adipisicing.
              </p>
              <div class="bottom d-flex">
                <a href="#">13th Mar, 2019</a>
                <a href="#">02 Comments</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single-home-blog">
            <div class="thumb">
              <img class="f-img img-fluid mx-auto" src="img/home-post/blog2.jpg" alt="" />
            </div>
            <div class="home-blog-box">
              <a href="#">
                <h4>Some statistics that we want to show</h4>
              </a>
              <p>
                If you are looking at blank cassettes
                on the web lorem ipsum dolor sit amet consectetur adipisicing.
              </p>
              <div class="bottom d-flex">
                <a href="#">13th Mar, 2019</a>
                <a href="#">02 Comments</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-sm-block d-none">
          <div class="single-home-blog">
            <div class="thumb">
              <img class="f-img img-fluid mx-auto invisible" src="img/home-post/blog2.jpg" alt="" />
            </div>
            <img src="img/home-post/blog3.jpg" class="img-fluid large-img" alt="">
            <div class="overlay"></div>
            <div class="home-blog-box border-0">
              <a href="#">
                <h4 class="text-white">Some statistics that we want to show</h4>
              </a>
              <p>
                If you are looking at blank cassettes
                on the web lorem ipsum dolor sit amet consectetur adipisicing.
              </p>
              <div class="bottom d-flex">
                <a href="#">13th Mar, 2019</a>
                <a href="#">02 Comments</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!--================ end Home Blog Area =================-->

  <!--================ Start CTA Area ================-->
  <!-- <section class="cta_area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="cta_inner d-flex flex-md-row flex-column justify-content-between align-items-center">
            <div class="mb-md-0 mb-4 text-sm-left text-center">
              <p>Get a quick response from our team</p>
              <h1>Please feel free to reach us</h1>
            </div>
            <div class="">
              <a href="#" class="main_btn">Explore More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!--================ End CTA Area ================-->

  <!--================ start footer Area =================-->
  <footer class="footer-area section_gap">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h6>About Us</h6>
            <p>
              We are situated at Connaught Place, the heart of delhi, which makes it easy for us to reach anyone in Delhi-NCR.
            </p>
          </div>
        </div>
        <div class="col-lg-5  col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h6>Newsletter</h6>
            <p>Stay update with our latest</p>
            <div class="" id="mc_embed_signup">
              <form method="POST" action="" class="form-inline">
                <input class="form-control" name="mail" placeholder="Email Address" onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Email Address'" required="" type="email">
                <button type="submit" class="click-btn btn btn-default"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                <div style="position: absolute; left: -5000px;">
                  <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                </div>
                <div class="info"></div>
              </form>
            </div>
          </div>
        </div>
        <!-- <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
          <div class="single-footer-widget">
            <h6>Follow Us</h6>
            <p>Let us be social</p>
            <div class="footer-social d-flex align-items-center">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-dribbble"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p class="footer-text">Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!-- Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> -->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.</p> -->
        <!-- </div>
      </div>
    </div>
  </footer> -->
  <!--================ End footer Area =================-->

  <!--================ Optional JavaScript =================-->
  <!--================ jQuery first, then Popper.js, then Bootstrap JS =================-->
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
  <script src="vendors/isotope/isotope-min.js"></script>
  <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="js/jquery.ajaxchimp.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script src="js/mail-script.js"></script>
  <script src="js/custom.js"></script>
</body>

</html>