<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" href="img/favicon.png" type="image/png" />
  <title>Balaji Stationers</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="vendors/linericon/style.css" />
  <link rel="stylesheet" href="css/font-awesome.min.css" />
  <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css" />
  <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css" />
  <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css" />
  <link rel="stylesheet" href="vendors/animate-css/animate.css" />
  <link rel="stylesheet" href="vendors/jquery-ui/jquery-ui.css" />
  <!-- main css -->
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/responsive.css" />
</head>

<body>
  <!--================Header Menu Area =================-->
  <header class="header_area">
    <div class="top_menu d-lg-block d-none">
      <div class="container">
        <div class="float-left">
          <ul class="left_side">
           One Step Office Stationers
          </ul>
        </div>
        <div class="float-right">
          <ul class="right_side">
            <li>
              <a href="#">
                <i class="lnr lnr-phone-handset"></i>
                011-23722977, 23723326
              </a>
            </li>
            <li>
              <a href="#">
                <i class="lnr lnr-envelope"></i>
                parveen_balaji@hotmail.com 
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg w-100">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="/index">
            <img src="img/logo1.png" alt="" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <div class="row w-100">
              <div class="col-lg-12 pr-lg-0">
                <ul class="nav navbar-nav ml-auto justify-content-end">
                  <li class="nav-item">
                    <a class="nav-link" href="/index">H o m e </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="about">A b o u t</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/services">P r o d u c t s</a>
                  </li>
                 
                 
                  <li class="nav-item active">
                    <a class="nav-link" href="/contact">C o n t a c t</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!--================Header Menu Area =================-->

  <!--================ Home Banner Area =================-->
  <section class="home_banner_area banner-area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="banner_content d-flex flex-md-row flex-column">
              <div class="banner-left text-md-right">
                <h1 class="text-uppercase">Our Products</h1>
              </div>
              <div class="banner-right position-relative">
                <p>
                  We provide a wide range of products and services. Few are listed below
                </p>
                <span class="main_btn mt-4 mt-md-0" href="#">
                  <a href="/index" class="text-white">Home</a>
                  <i class="fa fa-arrow-right mx-2"></i>
                  <a href="/services" class="text-white">Services</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End Home Banner Area =================-->

   <!--================ Start Service Area =================-->
   <section class="service-area1 section_gap_top">
    <div class="container">
      <div class="row justify-content-center section-title-wrap">
        <div class="col-lg-12">
          <h5>Our Offered Services</h5>
          <h2 class="text-white">
            We offer Various Products <br />
            to get you covered
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="single-service col-lg-4 col-md-6">
          <div class="thumb">
            <img class="f-img img-fluid mx-auto" src="img/service/officestr.jpg" alt="" />
          </div>
          <div class="service-box"> <br>
            <h3>
              Office Stationery
            </h3>
            <p>
              We have a wide range of Stationery products of top brands - </br>
             </p>
             <b> <p>P A P E R</p> </b>
                 <P>JK</P>
                 <p>BILT</p>
                 <p>TRIDENT</p>
                 <p>BINDAL</p>
                 <p>CENTURY</p>

             <b> <p>P E N </p> </b>
             <p>LUXUR</p>
             <p>UNIBALL</p>
             <p>CROSS</p>
             <p>PIERRE CARDIN</p>
             <p>CELLO</p>
             <p>ADD GELL</p>
             <p>REYNOLDS</p>

             <b> <p>F I L E S &nbsp; & &nbsp; F O L D E R S </p> </b>
             <p>SONA</p>
             <p> DIPLOMAT</p>
             <p>SOLO</p>
             <p>SECUREX</p> <br>
             <b> <p>A N D &nbsp;  M A N Y &nbsp;  M O R E . . .</p> </b>
             <b> <p></p> </b>
             

            <!-- <a href="/services">Learn More</a> -->
          </div>
        </div>

        <div class="single-service col-lg-4 col-md-6">
          <div class="thumb">
            <img class="f-img img-fluid mx-auto" src="img/service/computerstr1.jpg" alt="" />
          </div>
          <div class="service-box">
            <h3>
              Computer Stationery
            </h3>
            <p>
              Branded Computer hardware and printer cartridges - 

            </p>

           <b> <p>K E Y B O A R D &nbsp; A N D &nbsp;  M O U S E</p> </b>
           <p>HP</p>
           <p>LOGITECH</p>
           <p>DELL</p>
           <p>INTEX</p>
           <b><p>S T O R A G E &nbsp; D E V I C E S</p></b>
           <p>SANDISK</p> 
           <p>KINGSTON</p>
           <p>MOSER BAER</p>
           <p></p>
           <b><p>P R I N T E R &nbsp; C A R T R I D G E S</p></b>
           <p>HP</p>
           <p>CANON</p>
           <p>PRODOT</p>
           <b> <p>A N D &nbsp;  M A N Y &nbsp;  M O R E . . .</p> </b>
        

            <!-- <a href="/services">Learn More</a> -->
          </div>
        </div>

        <div class="single-service col-lg-4 col-md-6">
          <div class="thumb">
            <img class="f-img img-fluid mx-auto" src="img/service/pantry.jpg" alt="" />
          </div>
          <div class="service-box">
            <h3>
             Pantry and Cleaning 
            </h3>
            <p>
             Hygiene and Office bites ?  </br>
             We got you covered with all.          

            </p>
            <b> <p>B E V E R A G E S </p> </b>
            <p>NESTLE</p>
            <p>TAJ MAHAL</p>
            <p>LIPTON</p>
            <p>TATA TEA</p>
            <p>ORGANIC</p>
            <p>TWININGS</p>
        

            <b> <p>S N A C K S</p> </b>
            <p>HALDIRAMS</p>
            <p>BRITANNIA</p>
            <p>PARLE</p>
            <p></p>
            <b> <p>H E A L T H &nbsp;   A N D &nbsp;  C A R E </p> </b>
            <p>HIMALAYA</p>
            <p>DETTOL</p>
            <p>LIFEBUOY</p>
            <p>SAVLON</p>
            <p>AIRWICK</p>
            <p>WINTEX</p>
            <p></p>
            <b> <p>S A F E T Y &nbsp; E Q U I P M E N T</p> </b>
            <p>SANITIZERS</p>
            <p>FACE MASKS</p>
            <p>FACE SHIELD</p>
            <p>GLOVES</p>
            <p>DISINFECTOR</p> <br>

            <b> <p>A N D &nbsp;  M A N Y &nbsp;  M O R E . . .</p> </b>

<!-- commit  -->
           

            <h4></h4>
            <!-- <a href="/services">Learn More</a> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ end Service Area =================-->
    <!--================ Start Quote Area =================-->
    <section class="quote-area">
      <div class="container">
        <div class="row justify-content-center text-left section-title-wrap">
          <div class="col-lg-12">
            <h5 id="quote">Get a quote now!</h5>
            <h2 class="text-white">
              Check the estimated cost for <br>
              your requesting goods
            </h2>
          </div>
        </div>
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-12">
            <div class="estimated-cost">
              <form class="form-wrap" method="post" action="/data">
                <nav>
                  <div class="nav nav-tabs justify-content-md-start justify-content-center" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-getEstimation-tab" data-toggle="tab" href="#nav-getEstimation"
                      role="tab" aria-controls="nav-getEstimation" aria-selected="true">Quotation</a>
                   
                  </div>
                </nav>
  
  
                <!-- Tab Content -->
                
              <form action="/data" method="post">
                <div class="tab-content" >
                  <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="nav-getEstimation-tab">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label  for="firstName">First name</label>
                          <input type="text" class="form-control" name="fname"  placeholder="Enter first name">
                        </div>
                      </div>
  
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label for="lastName">Last name</label>
                          <input type="text" class="form-control" name="lname" placeholder="Enter last name"/>
                        </div>
                      </div>
  
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label for="emailAddress">Email Address</label>
                          <input type="email" class="form-control" name="email" placeholder="Enter email address"/>
                        </div>
                      </div>
  
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label for="cargoType">Company Name</label>
                          <input type="text" class="form-control" name="cname" placeholder="Company name"/>
                        </div>
                      </div>
  
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label for="countryOfOrigin">Company Location</label>
                          <input type="text" class="form-control" name="cloc" placeholder="Enter Location"/>
                        </div>
                      </div> 
  
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label for="destination">Phone No.</label>
                          <input type="text" class="form-control" name="phone"  placeholder="Phone No."/>
                        </div>
                      </div> 
  
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="quantity">Designation</label>
                          <input type="text" class="form-control" name="desig"  placeholder="Designation"/>
                        </div>
                      </div>
  
                     
                      <div class="col-lg-12 mt-4">
                        <div class="text-center confirm_btn_box">
                          <!-- <button type="submit">button</button> -->
                          <button type="submit" class="main_btn text-uppercase">Request a Quote</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                           
                  
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Quote Area =================-->

  <!--================ About Area =================-->
  <!-- <section class="about-area section_gap">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="row justify-content-center text-left section-title-wrap">
            <div class="col-lg-12">
              <h5>About Our Company</h5>
              <h2>
                Some statistics that we want <br>
                to show our viewers
              </h2>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-6 single_brand">
                  <img src="img/about/brand1.png" alt="">
                </div>
                <div class="col-lg-4 col-md-4 col-6 single_brand">
                  <img src="img/about/brand2.png" alt="">
                </div>
                <div class="col-lg-4 col-md-4 col-6 single_brand">
                  <img src="img/about/brand3.png" alt="">
                </div>
                <div class="col-lg-4 col-md-4 col-6 single_brand">
                  <img src="img/about/brand4.png" alt="">
                </div>
                <div class="col-lg-4 col-md-4 col-6 single_brand">
                  <img src="img/about/brand5.png" alt="">
                </div>
                <div class="col-lg-4 col-md-4 col-6 single_brand">
                  <img src="img/about/brand6.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="offset-lg-1 col-lg-4">
          <div class="about_box">
            <div class="activity">
              <div class="row">
                <div class="col-lg-6 col-md-3 col-6">
                  <div class="activity_box">
                    <div>
                      <img src="img/about/i1.png" alt="">
                    </div>
                    <h3>$<span class="counter">2500</span>+</h3>
                    <p>Packages Delivered</p>
                  </div>
                </div>

                <div class="col-lg-6 col-md-3 col-6">
                  <div class="activity_box">
                    <div>
                      <img src="img/about/i2.png" alt="">
                    </div>
                    <h3>$<span class="counter">500</span>+</h3>
                    <p>Satisfied Clients</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-3 col-6">
                  <div class="activity_box">
                    <div>
                      <img src="img/about/i3.png" alt="">
                    </div>
                    <h3>$<span class="counter">70</span>+</h3>
                    <p>Contries reach</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-3 col-6">
                  <div class="activity_box">
                    <div>
                      <img src="img/about/i4.png" alt="">
                    </div>
                    <h3 class="counter">5000</h3>
                    <p>Tons of goods</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!--================ End About Area =================-->

  <!--================ Start CTA Area ================-->
  <section class="cta_area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="cta_inner d-flex flex-md-row flex-column justify-content-between align-items-center">
            <div class="mb-md-0 mb-4 text-sm-left text-center">
              <p>For already registered companies</p>
              <h2>Send your requirements, just few clicks away</h2>
            </div>
            <div class="">
              <a href="/products.ejs" class="main_btn">Order Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End CTA Area ================-->

  <!--================ start footer Area =================-->
  <footer class="footer-area section_gap">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h6>About Us</h6>
            <p>
              We are situated at Connaught Place, the heart of delhi, which makes it easy for us to reach anyone in Delhi-NCR.
            </p>
          </div>
        </div>
        <div class="col-lg-5  col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h6>Newsletter</h6>
            <p>Stay update with our latest</p>
            <div class="" id="mc_embed_signup">
              <form method="POST" action="" class="form-inline">
                <input class="form-control" name="mail" placeholder="Email Address" onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Email Address'" required="" type="email">
                <button type="submit" class="click-btn btn btn-default"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                <div style="position: absolute; left: -5000px;">
                  <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                </div>
                <div class="info"></div>
              </form>
            </div>
          </div>
        </div>
  <!--================ End footer Area =================-->

  <!--================ Optional JavaScript =================-->
  <!--================ jQuery first, then Popper.js, then Bootstrap JS =================-->
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
  <script src="vendors/isotope/isotope-min.js"></script>
  <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="js/jquery.ajaxchimp.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script src="js/mail-script.js"></script>
  <script src="js/custom.js"></script>
</body>

</html>